html{
	overflow:scroll;
}


h1{
	width:300px;
	height:50px;
	text-align: center;
	font-family:'FuturaRennerRegular';
	margin: 10% auto 10px auto;
	letter-spacing:.2em;
}
li{
	text-align: center;
	text-decoration:none;
	font-family:'FuturaRennerRegular';
	display:inline;
	float:left;
	}
#links {
	width:300px;
	height:50px;
	text-align: center;
	font-family:'FuturaRennerRegular';
	margin: 30% auto 10px auto;
	border-style:solid;
	border-width: 2px;
}
ul li{
	margin-right: 1em;
	margin-left:1em;
}